html,
body {
  margin                   : 0;
  padding                  : 0;
  width                    : 100%;
  height                   : 100%;
  font-size                : 100%;
  -webkit-text-size-adjust : 100%;
  -moz-text-size-adjust    : 100%;
  -ms-text-size-adjust     : 100%;
  overflow                 : hidden;
}

.configurable-application--loading {
  text-align : center;
  display    : block;
  height     : 100%;
  width      : 100%;
  overflow   : hidden;
  background : #fff url(../assets/loader-ie9.gif) no-repeat center center;
}

#header-panel {
  z-index    : 99;
  box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);
}

#main-container {
  margin         : 0;
  padding        : 0;
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  overflow       : hidden;
}

#view-container {
  flex-shrink : 1;
  flex-grow   : 1;
  margin      : 0;
  padding     : 0;
}

#left-container {
  flex-shrink    : 0;
  flex-grow      : 0;
  overflow-x     : hidden;
  overflow-y     : auto;
  display        : flex;
  flex-direction : column;
}

.top-nav-link:hover, .top-nav-link:focus {
  color               : #fff;
  border-bottom-color : #fff;
}

.esri-widget--button {
  color            : #fff !important;
  background-color : #0079c1 !important;
}

.view-loading-node {
  box-shadow : none !important;
}

.view-loading-node .loader-text {
  color       : #fff;
  padding-top : 3em !important;
}

.service-switch {
  display : inline-block !important;
}

.radio-group-input {
  display : none;
}

/*.esri-icon-loading-indicator {*/
  /*display : none !important;*/
/*}*/
